---
import Layout from "../components/Layout.astro";
---

<Layout>
  <section class="text-center py-12">
    <h1 class="text-4xl font-bold text-gray-800">Welcome to Xeeroo</h1>
    <p class="text-gray-600 mt-4">Your Fast & Minimal E-commerce Site</p>
  </section>
</Layout>
